<nav class="navbar navbar-fixed-top top-menu">
	<div class="hanjiboong-container">
		<div class="row">
			<div class="col-xs-2"><a href="/timeline"><img src="imgs/menu_icon/timeline.png" /></a></div>
			<div class="col-xs-2"><a href="/album"><img src="imgs/menu_icon/album.png" /></a></div>
			<div class="col-xs-2"><a href="/chat"><img src="imgs/menu_icon/chat.png" /></a></div>
			<div class="col-xs-2"><a href="/calendar"><img src="imgs/menu_icon/calendar.png" /></a></div>
			<div class="col-xs-2"><a href="/notice"><img src="imgs/menu_icon/alert.png" /></a></div>
			<div class="col-xs-2"><a href="/profile"><img src="imgs/menu_icon/settings.png" /></a></div>
		</div>
	</div>
</nav>
