<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/nomalize.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="/css/common.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/album.css">
    <script src="/js/jquery-1.12.3.js"></script>
    <script src="/js/imgLiquid-min.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <script src="/js/album.js"></script>
    <style>
    @import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
    body {
        font-family: 'Noto Sans KR', sans-serif;
    }
    </style>
</head>

<body>

<%- include("fragment/header") %>

    <div id="albumWarp">
        <!-- 탭메뉴 시작 -->
        <div id="albumTapMenu">
            <div class="albumVarticalTable albumTapLeft tapOn">
                <div class="albumVarticalCell">
                    <a href="javascript:">사진첩</a>
                </div>
            </div>
            <div class="albumVarticalTable albumTapRight">
                <div class="albumVarticalCell">
                    <a href="javascript:">전체보기</a>
                </div>
            </div>
        </div>
        <!--탭메뉴 끝-->
        <!--컨텐츠 시작-->
        <div id="albumContent">
            <!--컨텐츠 박스 시작-->
            <div class="albumBox">
                <a href="/albumContents">
                    <div class="albumImg01">
                        <div class="albumImgCover">
                        </div>
                    </div>
                    <div class="albumTxt">
                        <div class="titleTxt">
                            가족 여름휴가
                        </div>
                        <div class="hyphen">
                            ㅡ
                        </div>
                        <div class="dateTxt">
                            2016년 7월 20일(화)
                        </div>
                    </div>
                </a>
            </div>
            <!--컨텐츠 박스 끝-->
            <!--컨텐츠 박스 시작-->
            <div class="albumBox">
                <div class="albumImg02">
                    <div class="albumImgCover">
                    </div>
                </div>
                <div class="albumTxt">
                    <div class="titleTxt">
                        엄마아빠 사랑해요
                    </div>
                    <div class="hyphen">
                        ㅡ
                    </div>
                    <div class="dateTxt">
                        2016년 7월 8일(목)
                    </div>
                </div>
            </div>
            <!--컨텐츠 박스 끝-->
            <!--컨텐츠 박스 시작-->
            <div class="albumBox">
                <div class="albumImg03">
                    <div class="albumImgCover">
                    </div>
                </div>
                <div class="albumTxt">
                    <div class="titleTxt">
                        부모님 결혼기념일
                    </div>
                    <div class="hyphen">
                        ㅡ
                    </div>
                    <div class="dateTxt">
                        2016년 5월 8일(수)
                    </div>
                </div>
            </div>
            <!--컨텐츠 박스 끝-->
            <!--컨텐츠 박스 시작-->
            <div class="albumBox">
                <div class="albumImg04">
                    <div class="albumImgCover">
                    </div>
                </div>
                <div class="albumTxt">
                    <div class="titleTxt">
                        불꽃놀이 축제
                    </div>
                    <div class="hyphen">
                        ㅡ
                    </div>
                    <div class="dateTxt">
                        2016년 4월 13일(금)
                    </div>
                </div>
            </div>
            <!--컨텐츠 박스 끝-->
        </div>
        <!--전체보기 박스 시작-->
        <div id="albumAllView" class="container-fluid">
            <div class="albumAllViewWarp">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="albumImgPanel">
                            <img src="imgs/album/albumimg005.jpg">
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="albumImgPanel">
                            <img src="imgs/album/albumimg006.jpg">
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="albumImgPanel">
                            <img src="imgs/album/albumimg007.jpg">
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="albumImgPanel">
                            <img src="imgs/album/albumimg005.jpg">
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="albumImgPanel">
                            <img src="imgs/album/albumimg006.jpg">
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="albumImgPanel">
                            <img src="imgs/album/albumimg007.jpg">
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="albumImgPanel">
                            <img src="imgs/album/albumimg005.jpg">
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="albumImgPanel">
                            <img src="imgs/album/albumimg006.jpg">
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="albumImgPanel">
                            <img src="imgs/album/albumimg007.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--전체보기 박스 끝-->
    </div>
</body>

</html>
